[2020-06-22 01:29] rajasegar opened #1 "Add support to apply custom themes via yml"
[code]

[2020-06-22 17:02] roetlich opened #2 "It crashes after selecting a theme"
I did a fresh install via `npm i -g alacritty-themes`, but after selecting a theme it just crashes. Output:

[code]

[2020-06-23 01:37] rajasegar commented on #2
@roetlich It could probably due to the `colors` key in your `alacritty.yml` might be commented out. Can you please uncomment it and check. I should have handled this case :(

[2020-06-23 02:00] rajasegar commented on #2
Closed by https://github.com/rajasegar/alacritty-themes/commit/4020123aa15523d479a44c090898048f4c8ef999

[2020-06-23 02:00] #2 closed

[2020-06-23 13:50] roetlich commented on #2
Yes, this fixed it! :+1:

[2020-09-07 03:16] sharananurag998 opened #3 "Cannot apply themes"
Getting this error when I try to apply any theme: -

[code]

[2020-09-07 04:21] rajasegar commented on #3
Hey @sharananurag998 looks like you have nothing configured in your `alacritty.yml`, please uncomment any section or add any new config and check, I will fix this in a patch release.

[2020-10-17 09:40] arunvelsriram opened #5 "Select currently applied theme on startup"
Am trying to select the currently applied theme on startup. Am planning to use the value in `colors.name` for this.

For example,
[code]
I have made few changes. However I noticed that for some themes `name` is missing. Also the names are not matching the filename. Would it be possible to add `name` to all themes and keep it same as filename or vice-versa.

[2020-10-17 10:02] arunvelsriram commented on #5
Actually it will not work. I thought we are writing the `name` to alacritty config file as well. But that's not the case.

Another approaches I can think of is making alacritty-themes save the applied theme name to filesystem. What do you think?

[2020-10-18 05:08] rajasegar commented on #5
I think we should write the name to `alacritty.yml` , but we have to be aware that we are adding custom key values in std config file. And having a separate file for just theme name doesn't sound like a good approach to me. I assume the intention here is to know what is the currently applied theme for alacritty right?
Otherwise we should follow an entirely new approach like color schemes mentioned

[2020-10-20 12:35] arunvelsriram commented on #5
I think this would be a better option as it involves minimal changes to get the required feature. We have to make sure all themes has `name` and they match the file name.

Yes the approach suggested in the doc using YAML anchors is nice. But requires more changes. As well as we need to think about how much theme definition to have in the user's config file. If we have all the definitions then it m

[2020-10-22 23:44] theiosif opened #7 "Fonts issue"
After intalling your utility I get very bad font rendering, and backspaces do not even work. By this I mean:

![example](https://i.imgur.com/7iMfKx9.png)

Note that although I use zsh with powerline fonts, starting a vanilla bash, or even sh session does not fix this. I would like to know how to get my terminal back.

[2020-10-25 00:15] rajasegar commented on #7
@theiosif I think the problem is that the default config is trying to apply the `Terminess Powerline` font which might not be present in your machine
https://github.com/rajasegar/alacritty-themes/blob/b078f68dda6dff3737545d4a80ec2558116b4369/alacritty.yml#L102
Can you please comment out the line and check?

[2020-11-30 19:40] eggbean opened #8 "Suggestion: Live preview"
This makes it easy to apply different themes, but it is still a chore finding one I like.

If this had an option to apply the theme (make changes to config) as it is selected, that would make it a lot quicker to use. As alacritty already applies configuration changed immediately while running, this might be possible?

[2021-01-12 06:56] garevans opened #9 "Suggestion: accept arguments from shell"
Allow script to accept arguments from shell e.g.
`alacritty-themes dracula`
script will accept dracula as $1, search for and apply it

[2021-02-05 02:40] mknepper opened #10 "Suggestion: allow use of PgUp and PgDown scrolling (among other suggestions)"
So, like the title says. Here are some suggestions I think that would streamline the theme selector.

1. Allow use of PgUp and PgDown for scrolling (this goes faster than using arrow up and down one at a time).
2. Theme previews (hovering over a theme shows a preview of what it will look like, either by temporarily themeing Alacritty or something)

I'm not sure how possible this is with npm/node.

[2021-02-05 07:59] #9 closed

[2021-02-05 08:01] rajasegar commented on #8
Fixed in 3.0.0

[2021-02-05 08:01] #8 closed

[2021-02-05 08:02] rajasegar commented on #10
I am not sure using Page up and down is possible, but you can always fuzzy search by typing the characters
The second issue is fixed in latest version 3.0.0

[2021-02-05 10:47] #3 closed

[2021-02-05 10:48] rajasegar commented on #7
Closing due to inactivity, please feel free to reopen for any clarification

[2021-02-05 10:48] #7 closed

[2021-02-06 08:41] eggbean commented on #8
Excellent, thanks a lot!

[2021-03-10 08:22] iBhavesh opened #12 "Cannot read property 'items' of null"
node_modules/alacritty-themes/index.js:39
  const colors = doc.contents.items.filter((i) => i.key.value === 'colors')[0];

  TypeError: Cannot read property 'items' of null
    at updateTheme (/usr/lib/node_modules/alacritty-themes/index.js:39:31)
    at /usr/lib/node_modules/alacritty-themes/index.js:68:5
    at FSReqCallback.readFileAfterClose [as oncomplete] (node:internal/fs/read_file_context:

[2021-03-10 09:36] rajasegar commented on #12
Looks like there is no alacritty.ym file or it might be empty.
Can you try creating one with this
[code]
and then try the themes

[2021-03-17 13:03] paulo-santana commented on #10
I'm running it on Arch Linux with npx and PgUp and PgDown are working fine. I guess it's the default behaviour of propmts. If you're using Mac, on their API page they say that you should use <kbd>fn</kbd> + <kbd>⇧</kbd> / <kbd>⇩</kbd> instead.
https://github.com/terkelg/prompts#autocompletemessage-choices-initial-suggest-limit-stylec:

[2021-03-17 13:17] paulo-santana opened #13 "App breaks if you type a string that doesn't match a theme"
If you start typing to search a theme and mistype a character by accident, the app will throw an uncaught error where it says it didn't find a file with the name `undefined.yml`. Altough this is not critical, it's a bit of an annoyance having to run the command again and to wait for npx to do it's thing.

How to reproduce: just run `npx alacritty-themes` and type nonsense.

If I may suggest a fix

[2021-03-18 02:22] #13 closed

[2021-03-25 04:42] sakthimaan opened #15 "Facing the following error in Arch Linux"
Facing the following error in Arch Linux

❯ node --version
v15.12.0
~
❯ npm --version
7.7.4

![image](https://user-images.githubusercontent.com/14888257/112419901-3ae73e00-8d52-11eb-92c6-8d111089342a.png)

[2021-03-25 05:36] rajasegar commented on #15
Related to #12

[2021-03-25 05:37] rajasegar commented on #15
Looks like there is no `alacritty.yml` file or it might be empty.
Can you try creating one with this
[code]
and then try the themes

[2021-05-14 18:29] helmerdavila opened #19 "TypeError: path.existsSync is not a function"
Solved by #18

It was a wrong call to `path` rather than `fs`

[code]

[2021-05-15 01:46] #19 closed

[2021-05-17 23:53] 3nt3 opened #20 "Document with errors cannot be stringified"
When starting with `npx alacritty-themes`, this happens:

[code]

The full output looks like this:
[code]

The program works as expected when run as just `alacritty-themes` (without npx)

[2021-05-17 23:53] 3nt3 commented on #20
Okay, nevermind it also doesn't work without npx - just doesn't crash immediately

[2021-05-17 23:55] 3nt3 commented on #20
Update, after deleting the config and generating a "fresh" one the program works.

[2021-05-17 23:55] #20 closed

[2021-05-30 03:38] matthewdeancooper opened #23 "alacritty-themes TypeError"
Fresh install using
[code]

Getting the following error after running
[code]

[code]

[2021-05-30 08:29] PranavBhattarai commented on #23
I have similar issue in Fedora 34:

pranav@fedora ~> npx alacritty-themes
npx: installed 20 in 4.106s
? Select a theme ›
❯   3024.dark
    3024.light
    Afterglow
    Argonaut
    Ashes.dark
    Ashes.light
    Astromouse
    Atelierdune.dark
    Atelierdune.light
  ↓ Atelierforest.dark/home/pranav/.npm/_npx/16203/lib/node_modules/alacritty-themes/index.js:75
  const colors = doc.contents.items.f

[2021-05-30 09:39] rajasegar commented on #23
Is your config file in proper shape or place, can you try creating one before choosing the themes:
[code]

[2021-05-30 15:07] PranavBhattarai commented on #23
@rajasegar Wow, thanks a lot. But my command was a little bit tricky:

[code]
Thanks. A **LOT** of themes to select. Can be overwhelming.

[2021-06-01 04:19] matthewdeancooper commented on #23
My config file empty as is located at
[code]

After running the command, I get the same error
[code]

[code]

[2021-06-04 02:16] rajasegar commented on #23
@matthewdeancooper Let me try to re-create the scenario with my machine and see if I can reproduce the error.
BTW, I need some info like what machine, OS, and Node version you are using, though would be helpful to identify the issue on a deeper level.

[2021-06-04 02:17] rajasegar commented on #15
Assuming the issue has been resolved and closing it. Please feel free to reopen if it still persists.

[2021-06-04 02:17] #15 closed

[2021-06-04 02:35] rajasegar commented on #23
Fixed in `3.2.4`

[2021-06-17 05:19] matthewdeancooper commented on #23
Cheers!

[2021-06-17 05:19] #23 closed

[2021-08-17 06:23] fedorpashin opened #25 "How to find out what is the current theme?"
I want to switch the theme but I don't remember which is the current one to revert it later.

If there is no such feature, the name could be written as a comment in `alacritty.yml`.

[2021-08-29 16:46] ewal opened #30 "Applying a theme removes all comments in alacritty.yml"
Hey, love the package but, I tend to use a lot of comments in my dotfiles and they're removed when a theme is applied. Would be nice if only the `colors` section was modified.

[2021-09-13 04:30] #12 closed

[2021-09-15 03:36] JuanVqz commented on #30
@ewal thank you for open this issue, we are glad to announce to you this has been solved 🥳

we need some testers to confirm, if you have the opportunity once #42 is merged you can give us some feedback, ✌!

[2021-09-15 17:58] #1 closed

[2021-09-21 14:26] #30 closed

[2021-09-21 14:29] rajasegar commented on #30
:tada: This issue has been resolved in version 4.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/4.1.2)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v4.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-22 06:07] z00rat opened #44 "v4.1.2 is taking current directory as root directory"
Hi, I am the package manager of this in AUR. When i tried to update it i got in to this problem.

**Describe the bug**
This program takes current directory as the root directory of the package.
In the new update `rootDirectory()` function takes `process.env.PWD` as the root directory which causes error like this...
[code]
[problematic line](https://github.com/rajasegar/alacritty-themes/blob/423c81

[2021-09-22 06:13] z00rat commented on #44
This was enough to fix the problem in my package.

[code]

[2021-09-22 13:09] JuanVqz commented on #44
being on ubuntu, I just printed out the PWD in the `bin/cli.js` file and it returns the `alacritty-themes` directory

![2021-09-22_08-08](https://user-images.githubusercontent.com/7331511/134349349-e67e01d8-ffdb-4ab5-b8d9-7d60b1c99331.png)

[2021-09-22 15:33] z00rat commented on #44
No. that location is in my build environment. what i wish to get is `/usr/lib/node_modules/alacritty-themes`. But i'm getting current directory. Like if I run from `~/docs/whatever/testing` i'm getting `/home/USER/docs/whatever/testing`

sorry for not telling you that but `npm i -g alacritty-themes` is broken. and the way we package this app is just like what **npm** do.
and now i tried `npx alacr

[2021-09-22 16:40] JuanVqz commented on #44
I'd like to change to archlinux one day. what distro do you recommend?

I just tried and yes, I noticed the `npx alacritty-theme` is broken, so,  I'm able to reproduce the error, I'll take a look as soon as possible.

[2021-09-22 16:42] z00rat commented on #44
nop something is wrong...
![21-Sep-22--21-45-52-byFlameshot](https://user-images.githubusercontent.com/78788887/134385044-0acf56de-82c6-4423-8f86-5d6bb57c3751.png)

and if ya need it.....
![21-Sep-22--22-38-33-byFlameshot](https://user-images.githubusercontent.com/78788887/134385478-b7bed34f-dfd4-446b-9cbc-774eeac79854.png)

btw you are using `./bin/cli.js` but when i say `alacritty-themes` it mea

[2021-09-22 16:45] JuanVqz commented on #44
taking advantage of you are online, I'll do a quick change in order to see if it solves the problem,
oh! but I cannot release versions, would you use the commit's SHA in order to just test?

[2021-09-22 16:46] z00rat commented on #44
TBH here, I use arch because it gives me nothing at first and i have to do almost everything by myself. which is the best for making a system like your dream. **Drawback,** it takes a loooooooooot of time.
play around in vm then move. thats what i like to do.

yay so im not wrong.

[2021-09-22 16:49] z00rat commented on #44
it will be better if you can give me a file like https://registry.npmjs.org/alacritty-themes/-/alacritty-themes-4.1.2.tgz
no clue how to build one like this.

in my package i download this from npm and tell npm to install it a folder as if its root directory.
this is what i followed https://wiki.archlinux.org/title/Node.js_package_guidelines
its just a wrapper around npm .....

[2021-09-22 17:35] z00rat commented on #44
I created this [pull](https://github.com/rajasegar/alacritty-themes/pull/45) request after finding a potential solution.
so,
the variable `__dirname` gives me the actual location of the file. not even the symlinked one.
and from there two step upstairs is the root which we are trying to calculate.

[2021-09-22 18:21] JuanVqz commented on #44
@z00rat would you try this in the `rootDirectory` please?

[code]

[2021-09-28 12:17] xNeophyte commented on #44
Thanks a bunch. Your solution worked for me.

I was facing the same issue when I installed alacritty-themes using npm (installed via nvm) on Pop!_OS.

In my case, the installation directory was
`~/.nvm/versions/node/v14.17.6/lib/node_modules/alacritty-themes`
but alacritty-themes was looking in my current working director to find the themes directory.

[2021-09-28 13:39] #44 closed

[2021-09-29 10:38] z00rat commented on #44
updated my package this morning and no one complained ....
looks good bro.

its was fun working on this bug. learned a lot.

[2021-09-29 12:59] JuanVqz commented on #44
Cool!! you are always welcome to contribute here! BTW, I read more about rolling release operative systems and I just switched to manjaro, I had some problems installing RVM (ruby version manager) because I used to develop on ruby and rails but at the end I was able to solved (reading the Arch Wiki). so far Manjaro is super cool all it's easy with the pamac tool.

You inspired me to switch, thank

[2021-09-29 14:19] z00rat commented on #44
hahaha
its nothing.

manjaro is a good start but dont be there for too long
its takes sometime before releasing updates. which is not good for following the archwiki TBH.
be on manjaro for leaning the basics then move to pure arch and make the system yours.

[2021-10-01 08:42] ewal commented on #30
Ah man, missed your previous reply. So nice of you for fixing this 🎉

[2021-10-08 06:30] ineu opened #49 "Gracefully handle Ctrl-c and Escape"
First of all I'd like to thank for the convenient tool to pick themes. There are some issues I've discovered:
*1: The app incorrectly handles Ctrl-c*:
1. Run alacritty-themes
2. Move to the next theme and quickly press Ctrl-c
If the interrupt sequence is pressed fast enough, it catches the app in the middle of writing to alacritty.yml, leaving it half-written. The result is the broken config:
![из

[2021-10-09 03:46] rajasegar commented on #49
@JuanVqz  Added the label to the repo as well

[2021-10-09 03:57] JuanVqz commented on #49
you already did it, thank you, what else can we add with the hacktoberfest label? BTW I'm about to add a contributors section in the readme, are you agree?

[2021-10-09 05:10] rajasegar commented on #49
Yes :+1:

[2021-10-31 09:20] detj opened #54 "Add an accompanying generated comment for better identification"
**Is your feature request related to a problem? Please describe.**

The way I see it, Alacritty encourages its users to fiddle around and manage its configuration by editing the Alacritty config file as they see fit. And `alacritty-themes` is essentially a yaml file patcher, patching the correct "colors" dictionary in the Alacritty config file, as per the user's input.

As of today, there is no wa

[2021-10-31 10:50] detj commented on #5
Adding any non-standard key may be a problematic approach. There could be other tools like `alacritty-themes` that the user may want to use and those tools may break or not parse the colors dictionary as expected.

There are 2 approaches I can think of to handle this situation.

### 1. Match the whole colors dictionary to determine active theme

- Don't add and rely on `name` & `author` fields
- D

[2021-11-02 14:22] JuanVqz commented on #5
Hi @detj,

To me, both approaches are valid and good enough to do it, I like the first one, though.

Thank you for your valuated opinion.

[2021-11-04 13:51] tiagaoalb opened #59 "Error: Document with errors cannot be stringified"
**Describe the bug**
Just installed the themes and got this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal and type npm i -g alacritty-themes
2. Type alacritty-theme

**Expected behavior**
Select the themes

alacritty-themes
? Select a theme ›
❯   3024.dark
    3024.light
    Afterglow
    Argonaut
    Ashes.dark
    Ashes.light
    Astromouse
    Atelierdune.dark
    A

[2021-11-04 13:55] JuanVqz commented on #59
Hi @tiagaoalb! thank you for opening the issue.

Would you share your alacritty.yml content, please?

Even better after sharing it could you please remove the `colors` section in your alacritty.yml file and then try again?

[2021-11-04 14:01] tiagaoalb commented on #59
Of course:

# Configuration for Alacritty, the GPU enhanced terminal emulator.

# Import additional configuration files
#
# Imports are loaded in order, skipping all missing files, with the importing
# file being loaded last. If a field is already present in a previous import, it
# will be replaced.
#
# All imports must either be absolute paths starting with `/`, or paths relative
# to the user's

[2021-11-04 14:16] JuanVqz commented on #59
could you paste it inside of a code block, please?

BTW, what operative system are you using? ubuntu, windows, macos?

[2021-11-04 14:22] tiagaoalb commented on #59
Im using Pop os

[2021-11-04 17:38] JuanVqz commented on #59
Could you try removing all the content of your alacritty file then add the color scheme with the `alacritty-themes` command, please? Does it work?

[2021-11-04 19:47] tiagaoalb commented on #59
It worked... but now I need to insert all the other configs

[2021-11-04 20:00] JuanVqz commented on #59
I'm thinking the error comes because the content has the word "colors" several times, the YAML parser didn't know where to replace the code. but I'm not sure, we should test it, in good news you solved the problem!

[2021-11-04 20:02] tiagaoalb commented on #59
Thank you! Have a good day 👊🏻

[2021-11-04 20:02] #59 closed

[2021-11-04 20:09] JuanVqz commented on #59
Add a test to verify if the YAML library can fail when the alacritty file has more than one colors key/work/comment.

[2021-11-05 12:25] Dhamma-valence opened #60 "Error: Document with errors cannot be stringified"
**Describe the bug**
I get the error `Document with errors cannot be stringified`

**Expected behavior**
I expect `alacritty-themes` or `npx alacritty-themes` to give me the normal menu of available themes, and the up and down arrow keys allow me to switch between them. Instead I get the error `Document with errors cannot be stringified`

Console output after entering command:

[code]

alacritty-t

[2021-11-05 14:24] JuanVqz commented on #60
Hi @Dhamma-valence!

Thank you for reporting an issue,
What OS are you using?
Would you share your alacritty.yml content here, please? don't forget to use a code block, please
Could you please remove your alacrity content and try to add a color scheme again?

[2021-11-06 11:18] tiagaoalb opened #62 "Permission to add a theme"
I would like to have permission to add a theme.

I already cloned and added the palenight.yml locally.
If thats ok of course.

If that is not possible, could you add a Palenight theme?

[2021-11-06 15:07] JuanVqz commented on #62
Sure! Open a PR, please.

[2021-11-07 18:30] tiagaoalb commented on #62
I can't because I don't have permission.

[2021-11-07 19:43] JuanVqz commented on #62
I'm just guessing, did you clone the https://github.com/rajasegar/ alacritty-themes repository instead of fork it?

If you are online I can show you how to do it in a video chat... let me create the link

[2021-11-07 19:46] JuanVqz commented on #62
https://meet.jit.si/NegativeBrushesInformHalfway

[2021-11-07 20:05] JuanVqz commented on #62
1. ![image](https://user-images.githubusercontent.com/7331511/140660037-45786eb8-f833-420d-8bbb-299e1a21edb4.png)

2. it will create a cloned repo in your Github account something like https://github.com/tiagaoalb/alacritty-themes then you can clone it in you machine

3. create a branch, then make your code (add the theme you want to add to the alacritty-themes repo)

4. push it to GitHub,  you sh

[2021-11-07 20:40] tiagaoalb commented on #62
Yes..., ok.

[2021-11-07 21:17] tiagaoalb commented on #62
@JuanVqz, waiting your CR.

[2021-11-07 22:27] #62 closed

[2021-11-08 11:28] tiagaoalb opened #64 "How to use a theme that I just added to the repo?"
I uninstalled the package and installed again, but the palenight theme is not there.
What should I do?

[2021-11-08 13:44] JuanVqz commented on #64
Good question I was about to let you know that, your theme won't be available until the next [release](https://semver.org/), we and almost all packages (at least the ones I have been working) work with releases.

I'm not sure if we should release a new 4.1.x patch when we introduce a new theme, @rajasegar what do you think?

BTW, for that, you should stay stick to the  [commitlint](https://github.

[2021-11-08 13:44] JuanVqz commented on #64
it would be good if instead of using issues, you can move your questions over the Discussions tab in the correct category, please

[2021-11-08 14:35] #64 closed

[2021-11-09 03:55] rajasegar commented on #64
@JuanVqz Sounds good to me :+1:

[2021-11-09 05:20] rajasegar commented on #62
:tada: This issue has been resolved in version 4.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/4.1.4)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v4.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-11 18:35] leslaron opened #67 "ERR_INVALID_ARG_TYPE on attempting to start"
### Describe the bug
After fresh installing both npm and alacritty-themes, I get the following error when attempting to run the alacritty-themes command

[code]

Steps to reproduce the behavior: simply attempt to run alacritty-themes

1. Installation

I installed it via npm i -g alacritty-themes (global installation)

2. Run alacritty-themes

- [ x ] Did you add params? yes, I type "alacritty-them

[2021-11-12 17:51] JuanVqz commented on #67
I'd like to have your help to validate this package works on Windows I haven't had the chance to test it there, I already added a PR #68 with the possible fix to this problem, but you could have more...

[2021-11-12 18:25] leslaron commented on #67
So with the new update I get a different error which is as follows:
[code]

The alacritty folder was not created upon a fresh install, however by manually creating both the folder and the yml file in appdata\roaming\, the themes now seem to work just fine.

[2021-11-12 19:04] JuanVqz commented on #67
Yes, we don't create the alacritty.yml file unless you required typing the `alacritty-themes --create` command

I don't understand how windows manage the folders, where did you create the folder and alacritty.yml file?
`appdata\roaming` is after your personal path? I mean `Users/my_user\appdata\roaming` or what is the full path?

Could you give me a favor? would you test the `alacritty-themes --cr

[2021-11-12 19:10] leslaron commented on #67
[code]

@JuanVqz I missed the --create command, and that solved it entirely. Can that not be run on install? Anyways, issue resolved. As for the install location, I hope the above can help with that.

[2021-11-12 19:10] #67 closed

[2021-11-13 21:59] PolSust commented on #25
Is this still an issue? I've looked into it and it seems like we could just add a `--current` flag that logs the output of `colors.name` in the alacritty config file.

#### The problem is that some themes don't have it.
So I would just replace it with the file name. That way it would be the same that gets displayed on the list when choosing a theme,
I think that makes more sense

[2021-11-15 03:57] Dhamma-valence commented on #60
I'm using Debian bookworm/sid.

The only changes to my alacritty.yml are those which `alacritty-themes` has made at the very beginning of the file, and an import of a single key bind file.

[code]

[2021-11-15 04:05] Dhamma-valence commented on #60
After simply commenting out the rest of the lines, it seems to have fixed it just like it #59 !

I did have a few times where it would randomly work/not work so it could be a false positive in which case I will update this, but it does appear to be fixed. It's a good thing the fix seems to be something so simple!

[2021-11-15 04:05] #60 closed

[2021-11-16 14:04] JuanVqz commented on #25
Yes, still an issue.
yes, we can add that `--current` flag, we are open to PRs, thank you! :+1:

[2021-11-16 23:24] JuanVqz opened #70 "add --help flag"
**Is your feature request related to a problem? Please describe.**
can we add a --help flag in order to list the existent alacrity-themes flags?

**Describe alternatives you've considered**
[code]

[2021-11-18 00:16] #25 closed

[2021-11-27 00:22] Senpai-10 commented on #70
#72

[2021-11-27 00:43] Senpai-10 opened #73 "current flag bug"
### Describe the bug

'alacritty-themes' does not catch `readFileSync` error in line: https://github.com/rajasegar/alacritty-themes/blob/7679518e13d448b4f59495bbc5e95a8237196976/index.js#L48

#### Error output:
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Delete alacritty config file
2. Run `alacritty-themes --current`

[2021-11-27 01:10] JuanVqz commented on #73
@Senpai-10 Hi! Thank you for opening this issue and you are right, it didn't catch the error!

What do you suggest or how can we solve this problem?
Thank you and BTW, we are open for PRs!

[2021-11-27 01:17] #70 closed

[2021-11-27 13:43] Senpai-10 commented on #73
https://github.com/rajasegar/alacritty-themes/blob/c727b616a0a0965ad163c22d543471a0697f6150/src/helpers/index.js#L63-L69

`alacrittyConfigPath function` returns `undefined` if no alacritty configuration file is found, this is why
`fs.readFileSync(alacrittyConfigPath(), 'utf8');` does not work

we can fix this is by checking if `alacrittyConfigPath() return value` is not `undefined` before trying t

[2021-11-27 14:46] #73 closed

[2021-12-09 21:01] puppeteer701 opened #75 "GitHub Themes"
**Describe the solution you'd like**
Would it be possible to add GitHub themes to selection. One of the example of color schemes can be found here https://github.com/projekt0n/github-nvim-theme/tree/main/extras/alacritty.

[2021-12-10 03:17] JuanVqz commented on #75
hey @puppeteer701, yes we are open to accepting new themes, I thought we already have the GitHub themes but not.

your Pull Request is always welcome, thanks!

[2021-12-11 21:39] gungaii opened #76 "Backspace doesn't work properly after install"
After I installed alacritty themes the backspace doesn't delete the words it works as a space now

[2021-12-11 22:12] gungaii commented on #76
Ok found this out my self if you go to alacritty.yml and add a # in front of TERM it will let you delete

[2021-12-11 22:12] #76 closed

[2021-12-20 14:19] JuanVqz commented on #76
Hi @gungaii, I don't get it, at the end is it an issue in alacrity-themes or it isn't?

[2021-12-29 02:37] JuanVqz commented on #75
Hello @puppeteer701 we added GitHub color schemes here #78

[2021-12-29 02:37] #75 closed

[2022-01-20 05:00] rajasegar commented on #75
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/4.2.0)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 05:54] JuanVqz opened #94 "Fix —current argument"
### Describe the bug

When using the command `alacritty-themes —current` it shows the current theme as a result until that all good, despide, at the same time, it writes the alacritty.yml file with the current theme's name which is incorrect.

### To Reproduce

Steps to reproduce the behavior:

run alacritty-themes —current

Go to the las line in your alacritty.yml file you will see the current na

[2022-02-10 19:34] michaelmoreno opened #98 "Themes still use deprecated background_opacity field."
### Describe the bug

Any terminal instances I open have a big yellow warning message at the bottom saying
[code]

### Screenshots

Add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/72640530/153483074-0e3d2245-9125-4680-9acf-94eb4d665652.png)

[2022-02-10 20:10] JuanVqz commented on #98
Hi @michaelmoreno, Thank you for opening this issue, you just need to change from `background_opacity` to the `opacity` attribute.

[code]
Update alacritty template https://github.com/rajasegar/alacritty-themes/pull/99

[2022-02-14 04:19] JuanVqz opened #105 "Change the code to use TypeScript"
I think we could use typescript... What do you think?

[2022-02-14 04:20] JuanVqz opened #106 "Change from mocha to jest tests"
I guess, nowadays jest is the standard for JS projects... so, I think we could use jest... what do you think?

[2022-03-09 01:22] Sigmw opened #112 "UTF-8 bugs"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:

1. Installation

- [ X] I run it via npx alacritty-themes
- [ X] I installed it via npm i -g alacritty-themes (global installation)

2. Run alacritty-themes

- [ X] Did you add params? yes, I type "alacritty-themes Ayu-Dark"
- [ X] Did you add params? no, I just tipe "alac

[2022-03-14 07:27] AA1999 opened #115 "Theme Catpuccin not found"
[code]

Using it the normal way:

[code]

[2022-03-14 07:32] AA1999 commented on #115
OK so the fist one was a typo but still get error on the second one.
I deleted the alacritty.yml file and managed to get it working

[2022-03-14 07:32] #115 closed

[2022-04-07 23:45] reportaman opened #123 "Option to pass themes directory"
Provide a command line option to specify directory for themes. iTerm2 color themes are the best curated, and available for a range of terminals including Alacritty. A command line option to specify path for themes will make life easy (no merge conflicts between that project and this) and open possibility to have other themes: https://github.com/mbadolato/iTerm2-Color-Schemes

[2022-05-08 16:23] joe-narvaez opened #131 "This library broke alacritty and deleted my config.. 👎👎👎👎"
:(

[2022-05-09 03:15] JuanVqz commented on #131
hey, @joe-narvaez I'm sorry about that :pray: , we may solve it did you remember what did you do when it happened?

[2022-05-31 06:46] rajasegar opened #145 "Remove Node 12 from the CI workflows"
Since Node 12 is EOL, we need to remove them from the workflow actions.
And we need to do a new release for the same
@JuanVqz What do you think about the kind of release required for this? major, minor or patch?

[2022-05-31 12:28] JuanVqz commented on #145
This is such a great question, I think it requires a mayor release.

Do you agree?

[2022-05-31 13:55] JuanVqz commented on #145
I still thinking about the topic, we don't have any functionality that requires removing Node 12 yet I think we can still support it until that changes.

[2022-06-02 13:37] #145 closed

[2022-06-02 17:54] stephanospavlou commented on #123
@reportaman The feature you've requested has been added!

[2022-06-02 18:47] JuanVqz commented on #123
solved #144

[2022-06-02 18:47] #123 closed

[2022-06-11 16:53] EralpCelebi commented on #20
Well, how do we do it without generating a fresh one? :D

I encountered the same problem after holding down the down arrow key, which supposedly stopped the write operation to my config file when it wasn't supposed to be stopped. My configuration works perfectly fine but the tool still complains.

[2022-06-11 17:03] EralpCelebi commented on #20
if anyone is confused about this, the tool generates some junk at the end of your configuration file (alacritty.yml found in $HOME/.config/alacritty/alacritty.yml).

Remove whatever was written (which is most likely to be about themes) from the last few lines and the errors should go away.

[2022-06-14 10:38] rajasegar commented on #131
I think we should give some sort of escape hatch to the users if we have problems like these. May be something like always creating a backup for the config file, before modifying it for preview and apply themes. So the users can just rename/move/copy the backup file to restore the settings.
@joe-narvaez @h45h1r Sincere apologies for the inconvenience caused.
@JuanVqz What are your thoughts?

[2022-06-14 10:45] rajasegar commented on #131
Just outlining the steps here:
- [ ] Create a backup file in the same config directory with timestamp to ensure that we are not overwriting any existing backups
- [ ] Add documentation to README about the steps to how to restore the original config

[2022-06-14 11:01] h45h1r commented on #131
What if you create a backup file and delete the older versions of the backup each time

[2022-06-14 20:59] h45h1r commented on #131
Yes, I changed the theme a few times before this happened

[2022-06-19 15:54] JuanVqz commented on #131
@rajasegar I'm thinking users will end up in the same scenario if we create a backup each time they select a new theme. We may create corrupt backups.

What about to add the option: `alacritty-themes --backup` and let them use it when they want.

[2022-06-20 04:41] rajasegar commented on #131
No no, not each time they select a new theme, but only one time when they invoke the program before even showing the prompts.

[2022-06-20 15:46] JuanVqz commented on #131
sounds good! I'll check it

[2022-06-20 20:06] #131 closed

[2022-06-22 03:18] rajasegar commented on #145
:tada: This issue has been resolved in version 4.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/4.4.0)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v4.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-24 14:03] JuanVqz commented on #112
Hi @Sigmw thank you for opening this issue.

do you still running the issue?

To me it seems like it's not related to `alacritty-themes`, the purpose of `alacritty-themes` is change the theme color easily.

I'm seen that you have the following lines, have you tried comment them and reopen the terminal?

[code]

[2022-06-24 14:24] Sigmw commented on #112
Hi! Yes, i solved the problem doing this.

[2022-07-16 16:59] alexmailo opened #165 "Too many backups"
### Describe the bug

Looks like every time it runs, it creates a backup file for some reason. Was wondering if that is necessary or is it a bug?

### To Reproduce

Steps to reproduce the behavior:

1. Installation

- [ ] I run it via npx alacritty-themes
- [x] I installed it via npm i -g alacritty-themes (global installation)

2. Run alacritty-themes

- [ ] Did you add params? yes, I type "alacri

[2022-07-16 18:54] JuanVqz commented on #165
Hey @alexmailo thank you for opening the issue, we are creating backups because some users have ran on corrupted alacritty.yml file.

We are aware of you will ended up with several backup files but we didn't agree in the best way to manage them, should we remove all of them and keep the last backup? What happen if the last backup is corrupted and we removed the good one?
That's the reason for now

[2022-07-16 19:17] alexmailo commented on #165
HI @JuanVqz , thanks for the quick response.
- Me personally, I wouldn't even allow the user to run the script on a corrupted `alacritty.conf`. I would probably throw an error saying that the config is corrupted or something, and let them solve it. After all, it is not your fault they got a corrupted config file.

- With respect to the backups, I think that having the user remove backups manually

[2022-07-17 13:25] JuanVqz commented on #165
Probably, we are breaking the alacritty.yml when changing themes faster here you have the related issue https://github.com/rajasegar/alacritty-themes/issues/131

Nice, themes are patch are pretty welcome

[2022-07-23 14:24] rohithvishaal opened #169 "use_thin_strokes has been removed."
### Change in the Config File: alacritty.yml

use_thin_strokes has been removed; Set the AppleFontSmoothing user default instead

### To Reproduce

```alacritty-themes --create```

1. Installation

- [ ] I installed it via npm i -g alacritty-themes (global installation)

### Expected behavior

Expected to show no error warning after changing the theme.

### Operating System:
- [ ] Ubuntu

### Add

[2022-07-23 16:23] JuanVqz commented on #169
Hey! Thank you for opening this issue I'll fix it as soon as possible 🧐

[2022-07-26 14:57] #169 closed

[2022-08-02 19:13] aigic8 opened #172 "making backup doesnt support all linux config paths"
### Descibe the bug
If alacritty config file is not `$HOME/.config/alacritty/alacritty.yml`, (in my case it is `$HOME/.alacritty.yml`) it will throw an error

### Steps to reproduce
1. Installation:
   - installed using `npm i -g alacritty-themes`
1. Running:
   - just ran `alacritty-themes`

### Expected Behavior
Running normally, without errors

### Operating System
Arch Linux (Manjaro)

### Scr

[2022-08-02 19:29] JuanVqz commented on #172
good call! I assumed the `alacritty.yml` file is located at `$HOME/.config/alacritty/alacritty.yml`, now I don't like the idea of creating backups in the $HOME directory. :thinking:

The solution may be use this function https://github.com/rajasegar/alacritty-themes/blob/4519540b7b465b85272adb539a9762e2a12fcfdb/src/helpers/index.js#L85 instead of https://github.com/rajasegar/alacritty-themes/blob/

[2022-08-02 20:20] aigic8 commented on #172
Thanks! But as you said, creating backup files in home direcotry is not really a neat solution. I think fixing this bug needs an oponionated solution which is beyond me.😀

[2022-08-02 21:26] JuanVqz commented on #172
a quick and good solution could be, even if the `alacritty.yml` file is in the $HOME directory we will create the backups files in this path `$HOME/.config/alacritty/`

[2022-08-19 22:54] shmup opened #177 "Consider using include syntax"
Instead of adding many configurations to the user's alacritty.yml, you could simply append (or replace) an `include`:

[code]

Making a 1 line change seems pretty solid. Maybe you've considered and want the current solution to be standalone (not requiring other files).

[2022-08-20 00:07] shmup commented on #177
Whoa, I didn't even know about the `scheme` syntax! I am learning so much :3 (I only recently learned about imports heh)

https://gist.githubusercontent.com/sainnhe/ad5cbc4f05c4ced83f80e54d9a75d22f/raw/939021739051393ceff88d3df014fb5e4e90e7aa/gruvbox-material-alacritty.yml

[2022-08-21 18:18] rajasegar commented on #169
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/5.0.0)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 18:23] JuanVqz commented on #177
this sounds good, have a question.

do you know if you can use more than one `import`? if so, how will we know which one is the theme we want to add/remove?

Ex.

[code]

[2022-08-21 18:36] JuanVqz commented on #172
I just fixed the alacritty path, please download the latest version of alacritty-themes to get it working on your end :+1:

Thanks for reporting it

[2022-08-21 18:37] #172 closed

[2022-08-21 18:38] rajasegar commented on #172
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/5.0.1)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-21 18:42] JuanVqz commented on #165
I'll add a flag to remove backups, in the mean time I'll close this issue, if you have an idea how to manage backups feel free to open a new issue, thank! 😉

[2022-08-21 18:43] #165 closed

[2022-08-21 18:44] JuanVqz commented on #112
This was a weird issue, if happen in the feature and have steps to reproduce it, feel free to open a new issue pleas 👍

[2022-08-21 18:44] #112 closed

[2022-08-21 18:49] JuanVqz commented on #54
If anyone has an idea how to implement this in the future feel free to open a new issue/pr.

[2022-08-21 18:49] #54 closed

[2022-08-21 18:51] JuanVqz commented on #10
I'm closing this issue because we don't have enough information, and it seems one user is able to use it as expected.

[2022-08-21 18:51] #10 closed

[2022-08-21 18:52] JuanVqz commented on #5
We implemented a flag called `--current` and you can trigger it before changing your current theme

[2022-08-21 18:52] #5 closed

[2022-08-23 21:54] shmup commented on #177
You can use more than one import, and in a quick test I believe it works by merging, so:

[code]

Would result in using `background1` and `foreground2`

Hm. Well, a first quick idea (and note: I haven't explored how this project is currently functioning nor have I given my idea much thought):

1. A user selects a theme with the tool
2. We replace the contents of `alacritty/selected_theme.yml` with

[2022-08-24 00:18] JuanVqz commented on #177
Yep, i like the idea of having a file and change the content.

Could you please verify if applying your changes the preview works as currently is working?

[2022-08-24 03:14] shmup commented on #177
What is it you'd like me to verify exactly?

I've minimally verified this concept, using a `touch`, but I'm not sure what you'd like me to verify for y'all. Might be happy to, just word it again if you could

https://user-images.githubusercontent.com/118710/186312618-de139657-ddc4-4615-b901-d0e6f0f12818.mp4

[2022-08-24 03:15] shmup commented on #177
Unless you meant "applying your changes" as in make the functional changes to this project, I don't think I'd have time for that currently. Maybe in time though, it's good we're talking about it and making notes

[2022-08-24 20:58] JuanVqz commented on #177
no, I didn't mean applying the changes, hahaha, it could take time, yes, I wanted to see how it could work as you demonstrated it in the video record.

the touch alacritty.yml action makes me think if that will work or not. :thinking:

[2022-08-24 23:10] shmup commented on #177
We can still do it. The project is already using `fs` (obviously), and all `touch` is doing when I did that example is updating the file's timestamp.

`fs` has that too!

Little example from this video:

[code]

https://user-images.githubusercontent.com/118710/186539166-e72e9dc5-5f9b-4e61-89a9-5da620d97767.mp4

[2022-08-24 23:14] shmup commented on #177
hehe yeah I didn't really think you'd have meant that, but also, it might not take much time! Not if we iron out a definitive plan forward :P

[2022-08-26 02:52] JuanVqz commented on #177
Something that makes me be worried about it's when the user is picking another theme, since it's an async process it could cause issues, it will be great if you can verify that as well. After that we can ask the creator of the package for his point of view.

[2022-08-26 02:54] shmup commented on #177
I see, yeah I can investigate that and possibly even change the implementation idea around.

[2022-08-26 15:42] JuanVqz commented on #177
btw, I may say this before but from my side, I like the idea, it seems to be secure because that way we won't need to touch the alacrity.yml a lot. and may not cause issues there, also we can add comments in the `alacritty-theme.yml` to indicate the previous theme and the current one, and also add links to the theme's source.

[2022-09-03 09:35] tigerjack opened #183 "Direct theme application not working"
### Describe the bug

Cannot apply a theme directly; the menu list is always shown.

### To Reproduce

Steps to reproduce the behavior:

1. Installation

- [ ] I run it via npx alacritty-themes
- [ ] I installed it via npm i -g alacritty-themes (global installation)
- [x] I installed it via AUR

2. Run alacritty-themes

- [x] Did you add params? yes, I type "alacritty-themes Ayu-Dark"
- [ ] Did yo

[2022-09-05 03:17] JuanVqz commented on #183
Hey @tigerjack, good call, do you want to contribute solving it? If not, that's okay, I just wanted to ask you.

[2022-09-05 08:09] tigerjack commented on #183
Hey @JuanVqz , unfortunately I cannot, I am sorry.

[2022-09-05 11:14] JuanVqz commented on #183
That's okay, I'll try to fix it in the week, thanks for reporting it 🚀

[2022-09-11 20:37] rajasegar commented on #183
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/alacritty-themes/v/5.1.1)
- [GitHub release](https://github.com/rajasegar/alacritty-themes/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-11 20:38] JuanVqz commented on #183
Hey, @tigerjack thank you for opening this issue we finally got it fixed, it would be great if you can try it again and let us know if now it is working as expected, just don't forget to download the last version :+1:

[2022-09-13 07:50] tigerjack commented on #183
Hey @JuanVqz thanks for the quick fix. I am on ArchLinux and the latest version is still not on the AUR.

[2022-09-13 12:59] JuanVqz commented on #183
@tigerjack unfortunately, AUR is maintained by external folks and we don't have control over it. If you know the repository please contact them to update the version.

In the other hand, you always can use `npm install -g alacritty-themes` to install it globally in your machine or using it with `npx alacritty-themes Ayu-Dark`

Hoping that works for you! 🫡

[2022-09-19 08:58] tigerjack commented on #183
The package is [here](https://aur.archlinux.org/packages/alacritty-themes) and it has been updated recently. I confirm it works @JuanVqz

[2022-09-19 13:08] JuanVqz commented on #183
Thank you for following it up, we appreciate it. If have any idea or issue to report you are welcome 🙏 thanks

[2022-09-26 20:01] JohnnyHall commented on #169
Thanks a lot for the help!!

[2022-10-20 20:54] aisayo opened #194 "Incorrect grammar and misspellings in contributing.md"
Looking to contribute and noticed the contributing.md doc has some room for better grammar and fix misspellings

[2022-10-20 21:15] #194 closed

[2022-10-21 21:47] JuanVqz commented on #94
This error seems to be solved within recent changes we did on `cli.js` file
https://github.com/rajasegar/alacritty-themes/commit/b7a04d6832df448455c126fd0675bf3f185b21f1

[2022-10-21 21:47] #94 closed

[2022-11-30 16:01] JuanVqz opened #210 "Add support for `yaml` and `yml` theme's extension"
### Describe the bug

If you add a theme with `yaml` extension it will fail.

### To Reproduce

Steps to reproduce the behavior:

1. Installation
- [x] I installed it via npm i -g alacritty-themes (global installation)

2. Add a theme with YAML extension

3. Run alacritty-themes

 I type "alacritty-themes Fedora"

3. See error

### Expected behavior

Add support to `yaml` and `yaml` extensions

##